# Configuration du Production (Vercel/Netlify)

# URL de l'API Backend (Ex: https://votre-app-backend.up.railway.app)
VITE_API_BASE_URL=https://votre-api-production.com

# Configuration d'Auth Clerk
VITE_CLERK_PUBLISHABLE_KEY=pk_test_votre_cle_ici
