# Configuration de Production (Vercel / Netlify)

# URL de l'API Backend générée par Railway
# Elle ne doit PAS se terminer par un slash (/)
VITE_API_BASE_URL=https://votre-app-backend.up.railway.app

# Clé Clerk si vous avez activé l'authentification
# VITE_CLERK_PUBLISHABLE_KEY=pk_test_votre_cle_clerk_ici

# Mode de déploiement
VITE_APP_ENV=production
